
body{
	background: url('BG.jpg') no-repeat center center fixed;
	background-size: cover;
}
.container{
	background: rgba(255,255,255, 0.8);
	width: 650.15px;
	height: 520.5px;
	margin: 0 auto;
	margin-top: 120px;
}

.logo{
	width: 200px;
	height: 200px;
	margin-top: -105px;
	border-radius: 200px;
}



.login{
	width: 600.16px;
	height: 351.5px;
	
	margin-left: 20px;
	text-align: center;
}

input{
	text-align: center;
	font-family: sans-serif;
	font-size: 1rem;
}

input[type=text]{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    height: 3rem;
    box-shadow: none;
   	width: 100%;
    margin:0 0 20px;
    
    
   
	
}

input[type=pass]{
	 background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
   	width: 100%;
   	height: 3rem;
   	margin:0 0 20px;
   	 

}


 input[type=text]:hover {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
    text-align: center !important;
    font-size: 1em !important;

}


 input[type=pass]:hover {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
    text-align: center !important;
    font-size: 1em !important;
}

button{
	color:white;
	font: 15px CenturyGothic;
	background-color: #e65b7a; 
	padding: 0px 28px;
	height: 50px !important;
	letter-spacing: .5px
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 2px;

}


button:hover{
	background-color: #e5496b;
}


h6{
	font-size: 1rem;
    line-height: 110%;
    margin: .5rem 0 .4rem 0;
    font-weight: 400;

}

a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

}



